@page
@model Taste.Pages.Customer.Cart.OrderConfirmationModel
@{
    ViewData["Title"] = "OrderConfirmation";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Order Placed Successfully</h1>
        Your order number is: @Model.orderId <br /> <br /> <br />
    </div>
</div>

